@font-face {
  font-family: "iconfont"; /* Project id 3229886 */
  src: url('iconfont.woff2?t=1646732625464') format('woff2'),
       url('iconfont.woff?t=1646732625464') format('woff'),
       url('iconfont.ttf?t=1646732625464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwuzixun:before {
  content: "\e602";
}

.icon-xingquaihao:before {
  content: "\e744";
}

.icon-wodezuopinxueshengzuopin-moren:before {
  content: "\e644";
}

.icon-ziyuan1:before {
  content: "\e60a";
}

.icon-guanyuwomen:before {
  content: "\e601";
}

.icon-zhedie:before {
  content: "\e60c";
}

