@import '../common/variable';

.page {
  width: 100%;
  overflow-y: auto;
}
// 锚点box
.hrefBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  top: 100px;
  right: 40px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(45deg, #cacaca, #f0f0f0);
  box-shadow:  21px -21px 41px #bebebe,
  -21px 21px 41px #ffffff;
  a {
    text-decoration: none;
    outline: none;
    font-size: $fontSizeS;
    color: $fontColor4;
    margin-top: 10px;
    border-bottom: 1px solid $tipsColor;
  }
  a:hover {
    color: $fontColorO;
  }
}
// item 项
.itemBox {
  width: 100%;
  padding: 10px 0;
  .itemTipsBox {
  }
  .itemCardBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px ;
    span {
      margin: 0 10px 10px 0;
    }
  }
}
// tips style
.tipsBox {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  //background: #2bc0e4;
  span:nth-child(1) {
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-right: 10px;
    background: $tipsColor;
  }
}

// card box
.cardBox {
  width: 300px;
  height: 60px;
  display: grid;
  border-radius: 5px;
  background: $resourceCardBg;
  box-shadow: $resourceCardShadow;
  align-content: center;
  padding-left: 20px;
  font-size: $fontSizeM;
  color: $fontColorO;
  justify-content: start;
}
// card description
.cardDesc {
  font-size: .8rem;
  margin-top: 5px;
  color: #aaa;
}
.cardBox:hover {
  border-radius: 5px;
  border: 1px solid $tipsColor;
  cursor: pointer;
}
