@import 'normalize';
@import 'variable';
@import './iconfont/iconfont';

// border-box
* {
  box-sizing: border-box;
}
html,body {
  font-size: 12px;
}
// 整体页面容器
.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
// 版心
.content {
  width: 1200px;
  margin: 0 auto;
}

// them-box
.theme-box {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

// circle-颜色圆点
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 10px;
}

// title-page
.title-page {
  width: 100%;
  height: 200px;
  .title-welcome {
    font-size: 5rem;
    line-height: 1rem;
  }
  .title-who {
    font-size: 5rem;
    line-height: 1rem;
  }
  .title-tip {
    font-size: 2rem;
    line-height: 1rem;
  }
}

// nav btn
.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 50px;
  font-size: 2rem;
  button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #77b767;
  }
  button:hover{
    width: 151px;
    height: 51px;
  }
}

 // 主页样式
.home-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:'aside main';
  grid-template-columns: 250px auto;
  .aside {
    grid-area: aside;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main {
    grid-area: main;
    padding: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.fold {
  position: absolute;
  cursor: pointer;
}

// avatar
.avatar {
  width: 8rem;
  height: 8rem;
  background: url("../../assets/images/avatar.png") no-repeat;
  background-size: 8rem 8rem;
}

// common page container
.page-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $themeColor;
  border-radius: $bdRadius;
}

