@import 'normalize';
@import 'variable';
@import './iconfont/iconfont';

// border-box
* {
  box-sizing: border-box;
}

// 媒体查询，根据视口更改字体大小
// iphone5（宽度320）或者更小尺寸的屏幕
@media only screen and (max-width: 374px) { html,body { font-size: 3px; } }
// iphone 6/7/8 或者iphone X（宽度375 px）的屏幕
@media only screen and (min-width: 375px) and (max-width: 413px){ html,body { font-size: 6px; } }
// iphone 6/7/8 plus 或者更大尺寸的屏幕
@media only screen and (min-width: 414px) { html,body { font-size: 12px; } }
// scroll
// 整体页面容器
.container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
// 版心
.content {
  width: 90vw;
  margin: 0 auto;
  padding-top: 100px;
}

// them-box
.theme-box {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

// circle-颜色圆点
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 10px;
}

// title-page
.title-page {
  width: 100%;
  height: 200px;
  color: #444;
  .title-welcome {
    font-size: 4rem;
    line-height: 1rem;
  }
  .title-who {
    font-size: 4rem;
    line-height: 1rem;
  }
  .title-tip {
    font-size: 2rem;
    line-height: 1rem;
  }
}

// nav btn
.nav-box {
  display: grid;
  place-content: center;
  width: 100%;
  height: 40%;
  font-size: 2rem;
  button {
    width: 200px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #333;
    background: $indexBtnBackGround;
  }
  button:hover{
    width: 200px;
    border: 2px solid #eee;
    height: 50px;
  }
}

 // 主页样式
.home-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:'aside main';
  grid-template-columns: 250px auto;
  .aside {
    grid-area: aside;
    padding: 10px 1px 10px 10px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .main {
    grid-area: main;
    padding: 10px 10px 10px 1px;
    grid-column: 2/3;
    grid-row: 1/2;
    min-width: 900px ;
  }
}
.fold {
  position: absolute;
  cursor: pointer;
}

// avatar
.avatar {
  width: 8rem;
  height: 8rem;
  background: url("../../assets/images/avatar.png") no-repeat;
  background-size: 8rem 8rem;
}

// common page container
.page-container-left {
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  background-color: $themeColor;
  border-top-left-radius: $bdRadius;
  border-bottom-left-radius: $bdRadius;
}
.page-container-right {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $themeColor;
  border-top-right-radius: $bdRadius;
  border-bottom-right-radius: $bdRadius;
}
// footer
.footer-box {
  border-top: 1px solid #fff;
  width: 100vw;
  display: grid;
  text-align: center;
  place-content: center;
  min-height: 100px;
}
// index-page
.index-page {
  width: 100vw;
  background: $indexLinear;
}
// wave
/*body {
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(118,218,255);
  overflow: hidden;
}
body:before, body:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #fff;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
body:before{
  bottom: 15vh;
  border-radius: 45%;
  animation-duration:10s;
}
body:after{
  bottom: 12vh;
  opacity: .5;
  border-radius: 47%;
  animation-duration: 10s;
}
@keyframes rotate {
  0%{
    transform: translate(-50%,0) rotateZ(0deg);
  }
  50%{
    transform: translate(-50%,2%) rotateZ(180deg);
  }
  100%{
    transform: translate(-50%,0) rotateZ(360deg);
  }
}*/

// social 图标样式
.github {
  font-size: $socialFontSize;
  color: $github;
}
.douban {
  font-size: $socialFontSize;
  color: $douban;
}
.bilibili {
  font-size: $socialFontSize;
  color: $bilibili;
}
.xhs {
  font-size: $socialFontSize;
  color: $xhs;
}
.hexo {
  font-size: $socialFontSize;
  color: $hexo;
}

