// 主题色
// theme
$themeColor: #eaeef1;
// background
$bgColor: #ced6e0;

// 字体大小
// large
$fontSizeL: 3rem;
// middle
$fontSizeM: 1.2rem;
// small
$fontSizeS: 1rem;
// social font size
$socialFontSize: 2rem;

// 字体颜色
$fontColorO: #8a4c62;
$fontColor4: #444;
$xhs: #d24d4f;       // 小红书
$bilibili: #54adde;  // b站
$douban: #377e22;    // 豆瓣
$github: #4b74bd;    // github

// 圆角
$bdRadius: 2rem;

// 首页 渐变背景色
$indexLinear: linear-gradient(334deg,#2bc0e4,#eaecc6);

// 首页button背景色
$indexBtnBackGround: rgba(157, 209, 215, .8);

// tips 提示标志背景色
$tipsColor: #40904d;

//resource 界面card背景颜色
$resourceCardBg: #f1eeeb;;
$resourceCardShadow:  5px -5px 4px #c4d4d8, -5px 5px 4px #ffffff;