@import '../common/variable';

.avatarBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    padding-top: 20px;
    font-size: $fontSizeM;
  }
  .navBox {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .navItemBox {
    padding: 20px 0 20px 40px;
    margin-bottom: 10px;
    width: 100%;
    font-size: $fontSizeM;
    color: $fontColorO;
    cursor: pointer;
    .icon {
    }
    .title {
      margin-left: 10px;
    }
  }
// 社交工具
.socialBox {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 50px 20px 20px;
  justify-content: space-around;
  align-items: center;
  font-size: $fontSizeL;
}

